<div style = "text-align: center">

		<h1>ベーカリーランチ</h1>

		<img src="" alt="非表示", style = "height: 500px;">

		<p style ="size: 10000px;">昨年始めたInstagramから人気となり、全国から注文が<br>
		来るようになったので通販サイトを作りました。</p>
		<span class="" aria-hidden="true"></span>
		〒123-4567 大阪府堺市

	</div>
